includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - lynxjournal.php
        - uninstall.php
        - src
    excludePaths:
        - src/js
        - src/schedule
